@import "tailwindcss";

@font-face {
  font-family: "Gabarito"; /* Beri nama keluarga font */
  src: url("/assets/fonts/Gabarito-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gabarito";
  src: url("/assets/fonts/Gabarito-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gabarito";
  src: url("/assets/fonts/Gabarito-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gabarito";
  src: url("/assets/fonts/Gabarito-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gabarito";
  src: url("/assets/fonts/Gabarito-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gabarito";
  src: url("/assets/fonts/Gabarito-Black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}

.font-gabarito {
  font-family: "Gabarito", sans-serif;
}

.text-color-blue {
  color: #0096c7;
}

.text-color-primary {
  color: #374957;
}

.background-color-primary {
  background-color: #f8f9fa;
}

.background-color-blue {
  background-color: #0096c7;
}

.background-color-blue-secondary {
    background-color: #CAF0F8;
}

.border-custom-color {
  border-color: #dcdcdc;
}
